<div class="jumbotron">

  <div id="search-input-box"><input id="search-input" type="text" class="form-control" placeholder="Search for a movie by title"></div>
  <br>

  <p>
    <button type="button" class="btn btn-lg btn-success" onclick="omdb.search()">Search <span class="glyphicon glyphicon-search"></span></button>
  </p>
</div>

<div id="search-results">
  <div id="mv-result-proto" class="well hidden search-result">
    <h4>movie.Title</h4>
    <span class="mv-year">movie.Year</span> // <span class="mv-type">movie.Type</span>
  </div>

  <div id="search-loading" class="hidden" style="text-align:center;">
    Loading...<br>
    <i class="fa fa-refresh fa-spin" style="font-size:200px; opacity:.4;"></i>
  </div>

  <div id="search-results-items"></div>
</div>
