<div class="jumbotron">

  <div id="search-input-box"><input id="search-input" type="text" class="form-control" placeholder="Search for a movie by title"></div>
  <br>

  <p>
    <button type="button" class="btn btn-lg btn-success" onclick="omdb.search()">Search <span class="glyphicon glyphicon-search"></span></button>
  </p>
</div>

<div id="search-results">
  <div id="mv-result-proto" class="well hidden search-result">
    <h4>movie.Title</h4>
    <span class="mv-year">movie.Year</span> // <span class="mv-type">movie.Type</span>

    <div class="search-result-detail hidden">
      <p class="result-detail-loader">
        Getting movie detail...<br>
        <i class="fa fa-refresh fa-spin" style="font-size:200px; opacity:.4;"></i>
      </p>
      <div class="result-detail hidden">
        <img class="mv-poster" src=""><br>
        Rated: <i class="mv-rated"></i> &bull; Released: <i class="mv-released"></i> &bull; Runtime: <i class="mv-runtime"></i><br>
        Language: <i class="mv-language">English</i><br>
        <br>
        Genre: <i class="mv-genre"></i><br>
        Director: <i class="mv-director"></i><br>
        Writer: <i class="mv-writer"></i><br>
        Actors: <i class="mv-actors"></i><br>
        <br>
        Plot: <i class="mv-plot"></i>
        <br><br>
        Country: <i class="mv-country"></i> &bull; Awards: <i class="mv-awards"></i><br>
        <br>
        Metascore: <i class="mv-metascore"></i><br>
        IMDB Rating: <i class="mv-imdbRating"></i><br>
        IMDB Votes: <i class="mv-imdbVotes"></i><br>
      </div>
    </div><!-- /.search-result-detail -->

  </div>

  <div id="search-loading" class="hidden" style="text-align:center;">
    Loading...<br>
    <i class="fa fa-refresh fa-spin" style="font-size:200px; opacity:.4;"></i>
  </div>

  <div id="search-results-items"></div>
</div>
